// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    ion-searchbar {
        --background: #141414;
    }

    ion-item {
        --inner-border-width: 0;
        --border-radius: 5px;
    }

    --ion-item-background: #141414;

    /** Custom Background / Text Colors **/
    --ion-background-color: #282c34;
    --ion-background-color-rgb: 40, 44, 52;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #3c3c3c;
    --ion-color-step-100: #474747;
    --ion-color-step-150: #515151;
    --ion-color-step-200: #5b5b5b;
    --ion-color-step-250: #656565;
    --ion-color-step-300: #707070;
    --ion-color-step-350: #7a7a7a;
    --ion-color-step-400: #848484;
    --ion-color-step-450: #8e8e8e;
    --ion-color-step-500: #999999;
    --ion-color-step-550: #a3a3a3;
    --ion-color-step-600: #adadad;
    --ion-color-step-650: #b7b7b7;
    --ion-color-step-700: #c2c2c2;
    --ion-color-step-750: #cccccc;
    --ion-color-step-800: #d6d6d6;
    --ion-color-step-850: #e0e0e0;
    --ion-color-step-900: #ebebeb;
    --ion-color-step-950: #f5f5f5;

    --ion-color-primary: #141414;
    --ion-color-primary-rgb: 20, 20, 20;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #121212;
    --ion-color-primary-tint: #2c2c2c;

    --ion-color-secondary: #373737;
    --ion-color-secondary-rgb: 55, 55, 55;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #303030;
    --ion-color-secondary-tint: #4b4b4b;

    --ion-color-tertiary: #737373;
    --ion-color-tertiary-rgb: 115, 115, 115;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #656565;
    --ion-color-tertiary-tint: #818181;

    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    /** facebook **/
    --ion-color-facebook: #3b5999;
    --ion-color-facebook-rgb: 59, 89, 153;
    --ion-color-facebook-contrast: #ffffff;
    --ion-color-facebook-contrast-rgb: 255, 255, 255;
    --ion-color-facebook-shade: #324b81;
    --ion-color-facebook-tint: #476bb8;

    /** google **/
    --ion-color-google: #cd201f;
    --ion-color-google-rgb: 245, 61, 61;
    --ion-color-google-contrast: #ffffff;
    --ion-color-google-contrast-rgb: 255, 255, 255;
    --ion-color-google-shade: #cd201f;
    --ion-color-google-tint: #cd201f;

    /** Custom column padding **/
    --ion-grid-column-padding: 5px;
}

.ion-color-facebook {
    --ion-color-base: var(--ion-color-facebook);
    --ion-color-base-rgb: var(--ion-color-facebook-rgb);
    --ion-color-contrast: var(--ion-color-facebook-contrast);
    --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb);
    --ion-color-shade: var(--ion-color-facebook-shade);
    --ion-color-tint: var(--ion-color-facebook-tint);
}

.ion-color-google {
    --ion-color-base: var(--ion-color-google);
    --ion-color-base-rgb: var(--ion-color-google-rgb);
    --ion-color-contrast: var(--ion-color-google-contrast);
    --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb);
    --ion-color-shade: var(--ion-color-google-shade);
    --ion-color-tint: var(--ion-color-google-tint);
}
